.btn-box__span-gold_mobile{
    font-size: 0;
}
.btn-box__span-gold_desktop{
    font-size: 25px;
}
.btn-box__span-gold_mobile-block{
    font-size: 0;
}
.btn-box__span-gold_desktop-block{
    font-size: 40px;
}
