//===============block2========================

.img-pill {
    width: 100%;
    max-width: 636px;
    height: auto;
  }
  .img-beats3{
    width: 100%;
    max-width: 636px;
    height: auto;
}
.img-beats4{
  width: 100%;
  max-width: 636px;
  height: auto;
}