@media only screen and (min-width: 868px) {
    .nav-box {
        flex: 1;
    }

    .social-top {
        padding-top: 30px;
        width: 180px;
        margin-right: 40px;

    }

    .social-title {
        margin-right: 55px;
    }
}